.post-it {
    width: 150px;
    height: 150px;
    padding: 15px;
    background-color: #fdfd96;
    margin: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    transform: rotate(-2deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.post-it.important {
    background-color: #ff6961;
}
  
.post-it .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.post-it h5 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
  
.post-it p {
    font-size: 12px;
    margin-top: 10px;
    word-wrap: break-word;
    color: #000;
}
  
.boton-eliminar {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #ff0000;
}
  